button{
  background-color:grey;
}

.selectedButton{
      background-image: url("http://www.fotor.com/fotor.test/65e796465d3447f8bdda3ac58794fd50/65e796465d3447f8bdda3ac58794fd50_p_400.png");
    background-size: 70px;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.desert{
  background-color:yellow;
}

#image{
opacity: 0.5;
height:40px;
}
.tint{
  position:absolute;
    background-color: red;
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.description {
	width:48%;
	float:left;
	padding-top:5%;
}

.simulator {
	width:48%;
	float:left;
	padding-top:5%;
}