#main {
  width:100%;
  height:100%;
  display:inline;
}

.cButton {
  border:none;
}

#left {
  height:25%;
  width:24%;
}

#right {
  height:25%;
  width:24%;
}
#forward {
  height:25%;
  width:24%;
}
#fire {
  height:25%;
  width:24%;
}
#middle {
display:inline;
}

table{
	width:100%;
	text-align:left;
}